/*________________________________________*/
/*about wellness*/

.about-wellness-container {
  height: 575px;
  display: block;
  background: url('../images/sunset-ripple.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wellness-tagline {
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  display: flex;
  font-size: 60px;
  color: white;
  line-height: 1.25;
}

.about-wellness-container h2 {
  color: white;
  text-shadow: -1px 1px #444;
  text-align: center;
  margin: 200px auto;
  font-size: 30px;
  font-weight: bold;
}
